.box {
    background-color: peru;
    color: black;
    border: 2px solid black;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    height: 200px;
}

.ends{
    background-color: darkblue;
    color: white;
    border: 5px solid white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}